@import "@/styles/vars";

.Custom-checkbox {
  border: 1px solid #ced4da;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: $main;
  transition: all 0.2s linear;

  &:after {
    content: "";
    background-image: url("../../assets/icons/check.svg");
    background-size: cover;
    display: block;
    width: 12px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: 0;
  }
}

.Origin-checkbox {
  &:checked ~ .Custom-checkbox {
    background: $primary;
    border: 1px solid $primary;
    &:after {
      scale: 1;
    }
    transition: all 0.2s linear;
  }
}
