@import "@/styles/vars";

.Tab {
  &__link {
    &-active {
      color: $primary !important;
    }
  }
}

.Modal__button {
  min-width: 199px;
  min-height: 254px;
  border: 1px solid $primary;
  border-radius: 20px;
}

::-webkit-scrollbar {
  display: none;
}

.Service__select {
  span {
    color: #fff;
  }
}

.Statistic {
  &__graph {
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      height: 45px;
      background: $main;
      border-top-left-radius: 35%;
      border-top-right-radius: 35%;
    }
  }

  &__selects {
    @media (max-width: 1650px) {
      flex-direction: column;
    }
  }
}

.CheckModal {
  &__heavy {
    &:after {
      right: -6 !important;
    }
  }

  &__form-element__shadow {
    box-shadow: 0 4px 4px 0 #00000040;
  }

  &__mini-textarea {
    width: 190px;
    height: 240px;
    border-radius: 10px;
    border: 1px solid #5f66e9;
    outline: none;
  }

  &__textarea {
    width: 407px;
    min-height: 240px;
    border-radius: 10px;
    border: 1px solid #5f66e9;
    outline: none;
  }

  &__div {
    border: 1px solid #5f66e9;
    border-radius: 10px;
  }

  &__second-textarea {
    width: 407px;
    min-height: 145px;
    border-radius: 10px;
    border: 1px solid #5f66e9;
  }
}

.Modal__content {
  max-width: 1242px !important;
}

.File__select{
  span{
    color: #fff;
  }
}