cryptography~=38.0.3
cffi~=1.15.1
defusedxml~=0.7.1
pillow~=10.3.0
ipython~=8.6.0
jupyter~=1.0.0
pip~=23.3.1
attrs~=23.1.0
wheel~=0.38.3
tornado~=6.2
Jinja2~=3.1.2
filelock~=3.13.4
setuptools~=69.5.1
pipenv~=2023.12.1
pytz~=2023.3.post1
PyYAML~=6.0
Django~=5.0.1
asgiref~=3.8.1
sqlparse~=0.5.0
psycopg2~=2.9.9
numpy~=1.23.5
requests~=2.31.0
ptyprocess~=0.7.0
PyJWT~=2.8.0
certifi~=2024.2.2
urllib3~=2.0.7
h2~=3.2.0
djangorestframework~=3.15.1
packaging~=21.3
idna~=3.4
chardet~=3.0.4
pycparser~=2.21
lxml~=4.9.3
virtualenv~=20.25.2
distlib~=0.3.8
platformdirs~=4.2.0
selenium~=4.14.0
Markdown~=3.6
Pygments~=2.13.0
abstracts~=0.0.12
python-dotenv~=1.0.1