@import "@/styles/vars";

.Tab {
  &__link {
    &-active {
      color: $primary;
    }
  }
}

.Modal__button {
  min-width: 199px;
  min-height: 254px;
  border: 1px solid $primary;
  border-radius: 20px;
}

::-webkit-scrollbar {
  display: none;
}

.Service__select {
  span {
    color: #fff;
  }
}

.Statistic {
  &__graph {
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      height: 45px;
      background: $main;
      border-top-left-radius: 35%;
      border-top-right-radius: 35%;
    }
  }
}
