@import "@/styles/vars";

.Tab {
  &__link {
    &-active {
      color: $primary;
    }
  }
}

.Modal__button {
  min-width: 199px;
  min-height: 254px;
  border: 1px solid $primary;
  border-radius: 20px;
}

::-webkit-scrollbar {
  display: none;
}

td {
  text-align: center;
}

.Service__select {
  span {
    color: #fff;
  }
}