@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.root {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.root {
  & > * {
    flex-shrink: 0;
  }

  & > main {
    flex-grow: 1;
  }
}

button,
input,
label,
textarea,
a,
span {
  font-family: inherit;
  font-weight: inherit;
  display: inline-block;
  color: inherit;
}

button,
input,
label,
textarea,
a {
  cursor: pointer;
}

svg {
  width: 100%;
  height: auto;
}

.mode-dark {
  color: #ffffff;
  background-color: #262626;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  title,
  text,
  .Paragraph,
  .Text,
  .Title {
    color: #ffffff;
  }

  input,
  select,
  .ant-select-selector {
    background: #262626;
    color: #ffffff;
  }

  input:active {
    color: #262626;
  }
}

.ant-menu-item,
.ant-menu-submenu-title,
.ant-menu-sub {
  padding-left: 15px !important;
  margin: 10px 0 !important;
  font-weight: 500 !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
  &:hover {
    background: #e6f4ff !important;
  }
}
