@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.root {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.root {
  & > * {
    flex-shrink: 0;
  }

  & > main {
    flex-grow: 1;
  }
}

button,
input,
label,
textarea,
a,
span,
code,
time {
  font-family: inherit;
  font-weight: inherit;
  display: inline-block;
  color: inherit;
}

button,
input,
label,
textarea,
a {
  cursor: pointer;
}

svg {
  width: 100%;
  height: auto;
}

.mode-dark {
  color: #ffffff;
  background-color: #262626;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  title,
  text,
  .Paragraph,
  .Text,
  .Title {
    color: #ffffff;
  }

  input,
  select,
  .ant-select-selector {
    background: #262626;
    color: #ffffff;
  }

  input:active {
    color: #262626;
  }
}

.ant-menu-item,
.ant-menu-submenu-title,
.ant-menu-sub {
  padding-left: 15px !important;
  margin: 10px 0 !important;
  font-weight: 500 !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
  &:hover {
    background: #e6f4ff !important;
  }
}

.ant-tabs-tab-btn {
  display: flex;
  align-items: center;
}

.ant-tabs-tab-icon {
  font-size: 20px;
}

.ant-tabs-nav::before {
  border-bottom: none !important;
}

.Menu__icons {
  .ant-menu-item {
    width: 100% !important;
  }
}

.ant-menu {
  background: #fbfbfb;
}

.ant-transfer-list {
  padding: 8px 12px;
}

.ant-upload {
  position: relative;
}

.ck-content > *:last-child {
  padding: 20px 10px;
  border-top: 1px solid #333;
  text-align: center;
}
