@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: #ffffff;
  --article-bg: #F1F5F9;
}

[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --header-bg: #262626;
  --article-bg: #333333;
}

html,
body,
#root {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#root {
  & > * {
    flex-shrink: 0;
  }

  & > main {
    flex-grow: 1;
  }
}

button,
input,
label,
textarea,
a,
span,
code,
time {
  font-family: inherit;
  font-weight: inherit;
  display: inline-block;
  color: inherit;
}

button,
input,
label,
textarea,
a {
  cursor: pointer;
}

svg {
  width: 100%;
  height: auto;
}

header {
  background-color: var(--header-bg) !important;
}

article {
  background-color: var(--article-bg) !important;
}

.ant-menu-item,
.ant-menu-submenu-title,
.ant-menu-sub {
  padding-left: 15px !important;
  margin: 10px 0 !important;
  font-weight: 500 !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
  &:hover {
    background: #e6f4ff !important;
  }
}

.ant-tabs-tab-btn {
  display: flex;
  align-items: center;
}

.ant-tabs-tab-icon {
  font-size: 20px;
}

.ant-tabs-nav::before {
  border-bottom: none !important;
}

.Menu__icons {
  .ant-menu-item {
    width: 100% !important;
  }
}

.ant-menu {
  background: #fbfbfb;
}

.ant-transfer-list {
  padding: 8px 12px;
}

.ant-upload {
  position: relative;
}

.ck-content > *:last-child {
  padding: 20px 10px;
  border-top: 1px solid #333;
  text-align: center;
}
