@import "@/styles/vars";

.Enrollment {
  &__selections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    & > * {
      //      box-shadow: 0px 4px 4px 0px #00000040;
      //      grid-row: 0;
    }
  }

  &__info-type {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__heavy {
    &:after {
      content: " \2731";
      position: absolute;
      display: block;
      bottom: 0;
      right: (-(16 + 3px));
      font-size: 10px;
      color: $danger;
      margin-left: 3px;
    }
  }

  &__input {
    outline: none;

    &-wrap {
      border: 1px solid $primary;

      & > * + * {
        border-left: 1px solid $black;
      }
    }
  }

  &__textarea {
    outline: none;
    border: 1px solid $primary;
    min-height: 110px;
  }
}
