@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.root {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.root {
  & > * {
    flex-shrink: 0;
  }

  & > main {
    flex-grow: 1;
  }
}

button,
input,
label,
textarea,
a,
span {
  font-family: inherit;
  font-weight: inherit;
  display: inline-block;
  color: inherit;
}

button,
input,
label,
textarea,
a {
  cursor: pointer;
}
