@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.root {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.root {
  &>* {
    flex-shrink: 0;
  }

  &>main {
    flex-grow: 1;
  }
}

button,
input,
label,
textarea,
a,
span {
  font-family: inherit;
  font-weight: inherit;
  display: inline-block;
  color: inherit;
}

button,
input,
label,
textarea,
a {
  cursor: pointer;
}

svg {
  width: 100%;
  height: auto;
}

.mode-dark {
  color: #FFFFFF;
  background-color: #262626;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  title,
  text,
  .Paragraph,
  .Text,
  .Title,
  span {
    color: #FFFFFF;
  }
}