<!-- landing_page.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Your Website</title>
</head>
<body>
    <h1>Welcome to Your Website</h1>
    <ul>
        <li><a href="{% url 'servises:add_on' %}">Locations</a></li>
        <li><a href="{% url 'location' %}">Locations</a></li>
        <li><a href="{% url 'configuration' %}">Locations</a></li>
        <li><a href="{% url 'interaction' %}">Locations</a></li>
        <li><a href="{% url 'web_users' %}">Locations</a></li>
        <li><a href="{% url 'statistics' %}">Locations</a></li>
        <!-- Add more links to other sections as needed -->
    </ul>
</body>
</html>
